.layout {
  background: url("/images/auth/bg.jpg"), linear-gradient(112.93deg, #edf7f6 27.95%, #80c5bd 92.39%), #fffafa;
  background-repeat: no-repeat, no-repeat;
  background-size:
    100% 1150px,
    100% 1150px;
  background-position:
    top center,
    top center;
  min-height: 100vh;
}
